* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: orangered;
}

body.active {
    background-color: green;
}



.btn {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 20px;
    background: none;
    border: none;
    background-color: orangered;
    color: white;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    display: block;
    height: 100%;
    opacity: 0.69;



}

.btn.active {
    background-color: green;
}



.cards-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: none;



}

#cards-container.active {
    display: block;




}



.flex-container {
    display: flex;
    justify-content: center;
}

.cards {


    margin-right: -13px;
}

.cards.widthCards {
    display: block;

}

.card-wrapper {
    flex: 0 0 33%;

}



.card-content {
    margin-right: 13px;


}



.card-inner {

    text-align: center;
    color: white;


}

footer {

    background-color: black;
    color: white;

    text-align: center;
}

.media {
    background: url("./images/bubeSufa.JPG") center/cover;
    position: relative;
    height: 100vh;

}